.contact h3{
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px;
  padding-top: 115px;
}

.contact h2{
  padding: 2px;
  margin: 2px;
}
.contact{
    background-image: url('./images/greyflowers.jpg');
    background-size: 100%;
    background-position: center;
    color: white;
    text-align: center;
    margin:0;
    padding: 0;
    height:100vh;    
  }

  .icons{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 70px;
  }
  
  .linked a{
    padding: 20px;
    color: white;
    font-size: 60px;
  }
  
  .linked a:hover{
    padding: 20px;
    color: #8CB6BB;
    font-size: 60px;;
  }

  .git a{
    padding: 20px;
    color: white;
    font-size: 60px;
  }
  
  .git a:hover{
    padding: 20px;
    color: #9B97B2;
    font-size: 60px;;
  }

  .insta a{
    padding: 20px;
    color: white;
    font-size: 60px;
  }
  
  .insta a:hover{
    padding: 20px;
    color: #D8A7CA;
    font-size: 60px;;
  }

.btnContainer{
  display: flex;
  justify-content: center;
}


.emailsign{
  background-color: none;
  color: rgb(143, 172, 156);
  width: 30px;
  height: 50px;
  font-weight: 700;
  font-size: 30px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}




  .page
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
}


.btn--submit{
  background-color: rgb(172, 167, 189);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
}
