@import url('https://fonts.googleapis.com/css?family=Parisienne|Prata|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Pacifico|Yellowtail&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Yellowtail', cursive; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p, a {
    font-family: 'Poppins', sans-serif;
}

.experience h2{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px;
    padding-top: 75px;
    color: black;
  }
  .experience h3{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
  }

.experience p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px;
}

.jobcontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: thistle;
}


.timeWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-size: 100%;
  margin-top: 60px;
  width: 100%;
}

.timeline{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.boxcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;  
  margin-top: 30px;
}

.codeNation{
  border: rgb(255, 209, 209) 3px solid;
  background-color: rgba(255, 255, 255, 0.747);
  width: 90%;
  border-radius: 5px;
  position: relative;
  right: 500px

}

.codeNation p{
 font-size: 14px;
}


.laterooms{
  border: rgb(157, 214, 191) 3px solid;
  background-color: rgba(255, 255, 255, 0.747);
  width: 90%;
  border-radius: 5px;
  position: relative;
  right: 200px
}

.laterooms ul{
  font-size: 14px;
}

.purchasing1{
  border: rgb(228, 200, 245) 3px solid;
  background-color: rgba(255, 255, 255, 0.747);
  width: 90%;
  border-radius: 5px;
  position: relative;
  left: 200px
}
.purchasing2{
  border: rgb(228, 200, 245) 3px solid;
  background-color: rgba(255, 255, 255, 0.747);
  width: 90%;
  border-radius: 5px;
  position: relative;
  left: 350px
}
.education{
  border: rgb(165, 250, 232) 3px solid;
  background-color: rgba(255, 255, 255, 0.747);
  width: 90%;
  border-radius: 5px;
  position: relative;
  left: 400px

}
.extra{
  border: rgb(236, 188, 188) 3px solid;
  background-color: rgba(255, 255, 255, 0.747);
  width: 90%;
  border-radius: 5px;
  position: relative;
  left: 500px
}

button{
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  padding: 20px;
  transition: background-color 1s linear ;
}

button:hover{
  background-color: grey;
}

.codeBtn{
  margin-bottom: 60px;
  border-bottom: 1px black solid;
}


.lateBtn{
  margin-top: 80px;
  border-top: 1px black solid;

}
.crestBtn{
  margin-bottom: 60px;
  border-bottom: 1px black solid;
}
.iesaBtn{
  margin-bottom: 60px;
  border-bottom: 1px black solid;
}
.educationBtn{
  margin-top: 80px;
  border-top: 1px black solid;

}
.extraBtn{
  margin-bottom: 60px;  
  border-bottom: 1px black solid;
}




.page
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
}