@import url('https://fonts.googleapis.com/css?family=Parisienne|Prata|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Pacifico|Yellowtail&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Yellowtail', cursive; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p, a {
    font-family: 'Poppins', sans-serif;
}

.timeWrapper h2{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px;
    padding-top: 25px;
    color: black;
  }
  .timeWrapper h3{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
  }

.timeWrapper p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px;
}

.jobcontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(./images/plainwithtriangles.jpg);
    background-size: 100%;
}


.timeWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.8);
  background-position: center;
  background-size: 100%;
  margin-top: 80px;
  width: 80%;
}

.timeline{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.boxcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.codeNation{
  border: #FFC9B5 3px solid;
  background-color: rgba(255, 255, 255, 0.747);
  width: 700px;
  border-radius: 5px;
  position: relative;
  right: 350px;
  padding: 0
}

.codeNation p{
 font-size: 14px;
 padding: 5px

}


.laterooms{
  border: #FFD7C9 3px solid;
  background-color: rgba(255, 255, 255, 0.747);
  width: 600px;
  border-radius: 5px;
  position: relative;
  right: 200px;
  padding: 5px;
}


.purchasing1{
  border: #C7D3BF 3px solid;
  background-color: rgba(255, 255, 255, 0.747);
  width: 600px;
  border-radius: 5px;
  padding: 5px;

}
.purchasing2{
  border: #C7D3BF 3px solid;
  background-color: rgba(255, 255, 255, 0.747);
  width: 600px;
  border-radius: 5px;
  position: relative;
  left: 200px;
  padding: 5px;
}
.education{
  border: #bda3c2 3px solid;
  background-color: rgba(255, 255, 255, 0.747);
  width: 600px;
  border-radius: 5px;
  position: relative;
  left: 300px

}
.extra{
  border: #C59B89 3px solid;
  background-color: rgba(255, 255, 255, 0.747);
  width: 600px;
  border-radius: 5px;
  position: relative;
  left: 400px
}

button{
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  padding: 20px;
  width: 200px
}


.codeBtn{
  border-bottom: 1px black solid;
  transition: background-color 0.5s linear ;

}
.codeBtn:hover{
  background-color: #FFD7C9;
}


.lateBtn{
  border-bottom: 1px black solid;
  transition: background-color 0.5s linear ;
}
.lateBtn:hover{
  background-color: #F7B1AB;
}

.iesaBtn{
  border-bottom: 1px black solid;
  transition: background-color 0.5s linear ;
}
.iesaBtn:hover{
  background-color: #C7D3BF;
}

.crestBtn{
  border-bottom: 1px black solid;
  transition: background-color 0.5s linear ;
}
.crestBtn:hover{
  background-color: #C7D3BF;
}

.educationBtn{
  border-bottom: 1px black solid;
  transition: background-color 0.5s linear ;
}
.educationBtn:hover{
  background-color: #bda3c2;
}

.extraBtn{
  border-bottom: 1px black solid;
  transition: background-color 0.5s linear ;
}
.extraBtn:hover{
  background-color: #C59B89;
}




.page
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
}