@import url('https://fonts.googleapis.com/css?family=Parisienne|Prata|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Pacifico|Yellowtail&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Yellowtail', cursive; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

.namejob{
  margin-bottom: 50px;
  margin-top: 75px;
}
.namejob h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 90px;
  margin: 0
}
.namejob h2 {
  font-family: 'Prata', serif;
  font-size: 25px;
  margin: 0;
  text-align: center;
}
.subheader {
  font-family: 'Prata', serif;
  font-size: 13px;
}

.headerbox h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
  text-decoration: underline;
}

.headContain h1, h2{
  color: white;
  padding: 10px;
}

p, a {
  font-family: 'Poppins', sans-serif;
}

.headContain {
  background-image: url("./images/darkerpinkroses.jpg");
  background-position: bottom;
  height: 100vh;
}

.navbar {
  background-size: 200px;
  background-repeat: repeat;
  overflow: hidden;
}



.headerbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%
}

.buttons a{
  border: 3px solid white;
  border-radius: 25px;
  width: 160px;
  color: white;
  padding: 10px;
  font-family: 'Prata', serif;
  transition: border 0.3s ease-in-out
}

.buttons a:hover{
  border: 3px dotted white;
  
}

.navicon{
  font-size: 25px;
  color: white;
}

.page
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
}