.pastProjects h3{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 25px;
}
.pastcontainer{
    background-image: url('./images/blossom.jpg');
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pastProjects{
    margin-top:20px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    height: fit-content
}

.page
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
}